// color
$ColorPrimary: #ED5E93;
$ColorWarn: #FA5151;
$Hightlight: #EFDDEC;

// active mask
$ActiveMaskWhite:rgba(0,0,0,.05);
$ActiveMaskColored:rgba(0,0,0,.1);
$ActiveMaskBlack:rgba(0,0,0,.15);

// link
$LinkColorDefault: #00C9C8;

// background
$BgColorDefault: #FFF4F9;
$BgColorPrimary: #F7F7F7;
$BgColorActive: #FFEBF1;


// line
$LineColorLight: rgba(0,0,0,.1);
$LineColorDark: rgba(0,0,0,.3);

// text
$TextColorTitle: rgba(0,0,0,.9);
$TextColorDesc: rgba(0,0,0,.5);
$TextColorTips: rgba(0,0,0,.3);
$TextColorWarn: $ColorWarn;
$TextColorInverse: #FFF5F9;

